spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/book_social_network
    username: postgres
    password: 9042
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  jmx:
    enabled: false


  mail:
    host: localhost
    port: 1025
    username: nshuti
    password: nshuti
    properties:
      mail:
        smtp:
          trust: "*"
        auth: true
        starttls:
          enable: true
        connectiontimeout: 5000 #in milliseconds
        timeout: 3000
        writetimeout: 5000

application:
  security:
    jwt:
      secret-key: 2f909f927235debc95969b82790a3743e2037584ddb23b1558a1571f113696ce
      expiration: 864000
  mailing:
    frontend:
      activation-url: http://localhost:4200/activation-account

server:
  port: 8080

